<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px white solid;
}
td {
    width: 10px;
    height: 10px;
}
</style>
<script>
setTimeout(function(){
   window.location.reload(1);
}, 5000);
</script>
</head>
<body>
<table cellspacing=0 cellpadding=0>
{% for i in output %}
    <tr>
{% for j in i %}
        <td bgcolor="{% if j %}green{% else %}silver{%endif%}"></td>
{% endfor %}
{% endfor %}
</table>
</body>
</html>